//fonts
@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-Bld.woff2') format('woff2'),
        url('fonts/GretaSansPro-Bld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-BldIta.woff2') format('woff2'),
        url('fonts/GretaSansPro-BldIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-BlkIta.woff2') format('woff2'),
        url('fonts/GretaSansPro-BlkIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-Blk.woff2') format('woff2'),
        url('fonts/GretaSansPro-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-Hea.woff2') format('woff2'),
        url('fonts/GretaSansPro-Hea.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-Lt.woff2') format('woff2'),
        url('fonts/GretaSansPro-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-HeaIta.woff2') format('woff2'),
        url('fonts/GretaSansPro-HeaIta.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-LtIta.woff2') format('woff2'),
        url('fonts/GretaSansPro-LtIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-Med.woff2') format('woff2'),
        url('fonts/GretaSansPro-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-MedIta.woff2') format('woff2'),
        url('fonts/GretaSansPro-MedIta.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-Reg.woff2') format('woff2'),
        url('fonts/GretaSansPro-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-RegIta.woff2') format('woff2'),
        url('fonts/GretaSansPro-RegIta.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-SmBldIta.woff2') format('woff2'),
        url('fonts/GretaSansPro-SmBldIta.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-SmBld.woff2') format('woff2'),
        url('fonts/GretaSansPro-SmBld.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-Thin.woff2') format('woff2'),
        url('fonts/GretaSansPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Sans Pro';
    src: url('fonts/GretaSansPro-ThinIta.woff2') format('woff2'),
        url('fonts/GretaSansPro-ThinIta.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


$primary: #1440FF;
$blue:    #1440FF;

$font-family-base: 'Greta Sans Pro';
$font-size-base:              1.5rem;

$font-weight-lighter:         100;
$font-weight-light:           300;
$font-weight-normal:          normal;
$font-weight-bold:            600;
$font-weight-bolder:          800;

$font-weight-base:            $font-weight-normal;

$spacer: 1rem;

$navbar-padding-y:                  $spacer / 2;
$navbar-padding-x:                  $spacer / 1;
$navbar-nav-link-padding-x:         1rem;

$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/></svg>");


html {
    height: 100%;
  }
body {
    min-height: 100%;
  }

@import "../node_modules/bootstrap/scss/bootstrap";

//@import "../node_modules/bootstrap/scss/functions";
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/mixins";

//@import "../node_modules/bootstrap/scss/containers";
//@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/navbar";
//@import "../node_modules/bootstrap/scss/utilities";
//@import "../node_modules/bootstrap/scss/transitions";
//@import "../node_modules/bootstrap/scss/buttons";
//@import "../node_modules/bootstrap/scss/nav";
//@import "../node_modules/bootstrap/scss/reboot";




.navbar-toggler {
  border: 0;
  }

.navbar-dark .navbar-nav {
    .nav-link {
      color:white;
      font-weight:600;

      @include hover-focus() {
        color:white;
        text-decoration: underline;
      }

      &.disabled {
        color:white;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color:white;
      text-decoration: underline;
    }
  }
.height-full {
    height: 100vh;
  }
.vertically-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
.nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }
.reflect {
    font-style: italic;
    font-size: $font-size-sm;

}
.project {
    font-size: $font-size-sm;
}
